<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			
				<h:form rendered="#{adminRhBean.formDisplayed}">
					<h:panelGrid columns="2">
						<h:outputText  value="login" />
						<h:inputText value="#{adminRhBean.adminRH.login}" />
						<h:outputText value="password" />
						<h:inputText value="#{adminRhBean.adminRH.password}" />
						<h:commandButton action="#{adminRhBean.doCancel}" value="cancel" />
						<h:panelGrid columns="2">
						<h:commandButton action="#{adminRhBean.doDelete}" value="delete" />
							<h:commandButton action="#{adminRhBean.doSaveOrUpdate}" value="save" />
						</h:panelGrid>
						
						
					</h:panelGrid>
				</h:form>
			
</ui:composition>