<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty adminRhBean.aRhs}"
							 value="#{adminRhBean.aRhs}"
							 var="adm" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All admins rh" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="login" />
						</f:facet>
						<h:outputText value="#{adm.login}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="password" />
						</f:facet>
						<h:outputText value="#{adm.password}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{adminRhBean.adminRH}" value="#{adm}"/>
								<f:setPropertyActionListener target="#{adminRhBean.formDisplayed}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton action="#{adminRhBean.doNew}" value="new" />
		<h:commandButton action="/pages/admin/mail/mailexmoral" value="mail" />
			</h:form>
</ui:composition>