<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
                <h:form rendered="">
                <h:panelGrid columns="2">
                <h:outputText value="Logged in as #{authBean.login}" />
                <h:commandLink value="logout" action="#{authBean.logout}" />
                </h:panelGrid>
                </h:form>	

</ui:composition>