<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                            <h:form rendered="#{authBean.userType.equals('User')}">
     <h:panelGrid columns="1" style="background-color:FireBrick; width : 840px;">
     <h:commandLink  action="/pages/admin/adminrecruitment/manage" value=" Admin Recruitment" />
     <h:commandLink  action="/pages/admin/adminrh/manage" value=" Admin RH" />
      <h:commandLink  action="/pages/admin/examoral/manage" value=" exam oral" />
     </h:panelGrid>
     </h:form>	

</ui:composition>