<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title><ui:insert name="pageTitle"/></title>
		<h:outputStylesheet library="css" name="application.css"/>
		<title>Sovereign by FCT</title>
<link href="/resources/css/aa.css" rel='stylesheet' type='text/css'/>
<link href="/resources/css/bb.css" rel='stylesheet' type='text/css'/>
<link href="/resources/css/style.css" rel='stylesheet' type='text/css'/>
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon.ico" />
	</h:head>
	<div  style=" width : 1394px;"><h:graphicImage value="/resources/img/img.png" style="height : 81px; width : 1394px;"/></div><h:body >
			<div id="container" style="border-style:solid;border-color:White;"><h:graphicImage value="/resources/img/tetiere.jpg.png" style="height : 120px; width : 840px;" />
			
				
				
<div><ui:include src="/template/topbar.xhtml" /></div>
				
				<h:graphicImage value="/resources/img/im.png" style="height : 81px; width : 840px;" />
					
			
								
				<div id="main" style="background-color:White; width : 827px; height : 709px;">
					<div id="navigation" lang="122"  align="left">
					
					                     <h:form rendered="#{authBean.userType.equals('User')}">
     

     
    	
					
					 <h:commandButton  action="/welcome" value="Welcome" style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 169px;"/>
					<h:commandButton  action="/pages/admin/adminrh/manage" value=" Admin RH"  style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 169px;"/>
					<h:commandButton  action="/pages/admin/adminrecruitment/manage" value=" Admin Recruitment"  style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 169px;"/>
					<h:commandButton  action="/pages/interface/filtra/manage" value="Filtrage" style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 169px;"/>
					<h:commandButton  action="/pages/admin/annonce/manage" value="Annonce" style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 169px;"/> </h:form></div>
					
				<div id="content" lang="" style="background-color:#F1F1F1;background-image:none;width : 592px; height : 651px;"><ui:insert name="pageContent" /></div></div>
				
				
				
	            
	            
	        </div>	
	</h:body>
</html>