<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
     <h:form>
     
       <h:panelGrid  columns="3" style="background-color:FireBrick; width : 840px;">
               
        
         <h:commandButton  action="/pages/interface/consult offre/ConsulterAnnonce" value="Offre Disponible" style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000;font-style: italic;font-weight: bold;background-image:none; width : 140px;"/>
         <h:commandButton action="/pages/login" value="Log In" style="TEXT-DECORATION: underline; COLOR: #ffffff; BACKGROUND-COLOR: #800000; FONT-STYLE: italic; FONT-WEIGHT: bold;font-weight: bold;background-image:none; width : 140px;" />
        <h:commandButton  action="/pages/FrameCv" value="CV" style="COLOR: #ffffff; TEXT-DECORATION: underline; BACKGROUND-COLOR: #800000; FONT-STYLE: italic; FONT-WEIGHT: bold;font-weight: bold;background-image:none; width : 140px;"/>
        
        </h:panelGrid>
	</h:form>
		

</ui:composition>