<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					 <h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;"> Filtre</h2>
	
	<h:form>
			
					<h:panelGrid columns="2">
						
						<h:outputText value="Recherche par Trainship"/>
							<h:selectOneMenu value="#{filtreFrameBean.selectedTrainshipId}">
							<f:selectItem itemValue="-1" itemLabel="choose one..."/>
							<f:selectItems value="#{filtreFrameBean.selectItemsForTrainship}" />
						</h:selectOneMenu>
						<h:outputText value="Recherche par Formation"/>
						<h:selectOneMenu value="#{filtreFrameBean.selectedFormationId}">
							<f:selectItem itemValue="-1" itemLabel="choose one..."/>
							<f:selectItems value="#{filtreFrameBean.selectItemsForFormation}" />
						</h:selectOneMenu>
						
						<h:outputText value="Recherche par Certificat" />						
							<h:selectOneMenu value="#{filtreFrameBean.selectedCertificatId}">
							<f:selectItem itemValue="-1" itemLabel="choose one..."/>
							<f:selectItems value="#{filtreFrameBean.selectItemsForCertificat}" />
						</h:selectOneMenu>
						
						<h:outputText value="Recherche par Experience" />						
							<h:selectOneMenu value="#{filtreFrameBean.selectedExperienceId}">
							<f:selectItem itemValue="-1" itemLabel="choose one..."/>
							<f:selectItems value="#{filtreFrameBean.selectItemsForExperience}" />
						</h:selectOneMenu>
						
				<h:outputText value="Recherche par Diplome" />
						<h:selectOneMenu value="#{filtreFrameBean.selectedDiplomeId}">
							<f:selectItem itemValue="-1" itemLabel="choose one..."/>
							<f:selectItems value="#{filtreFrameBean.selectItemsForDiplome}" />
						</h:selectOneMenu>
						
						<h:commandButton action="#{filtreFrameBean.actionPerformed}" value="Rechercher" />
					</h:panelGrid>
				</h:form>
			<div><h:graphicImage value="/resources/img/z.jpg" style="height : 203px; width : 597px;"/></div>
</ui:composition>