<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form style="color:#000040;background-color:GhostWhite;">
				<h:dataTable 
							 value="#{filtreFrameBean.candidates}"
							 var="fil" 
							 border="1" style="background-color:White;">
					<f:facet name="header">
							<h:outputText value="All candidat" style="FONT-FAMILY: 'Andalus'; COLOR: #000040; FONT-SIZE: x-large;"/>
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="first name" style="FONT-SIZE: small; COLOR: #000080;"/>
						</f:facet>
						<h:outputText value="#{fil.firstname}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="lastname" style="FONT-SIZE: small; COLOR: #000080;"/>
						</f:facet>
						<h:outputText value="#{fil.lastName}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="cin" style="FONT-SIZE: small; COLOR: #000080;"/>
						</f:facet>
						<h:outputText value="#{fil.cin}" />
					</h:column>
					
					
					
				  <h:column >
					<f:facet name="header">
							<h:outputText value="action" style="FONT-SIZE: small; COLOR: #000080;"/>
						</f:facet>
							<h:commandButton  value="mail" action="#{filtreFrameBean.ajouter}" >
								<f:setPropertyActionListener target="#{filtreFrameBean.candidat}" value="#{fil}"/>
							</h:commandButton>
					</h:column> 
					
					
					
				</h:dataTable>
				
			</h:form>
</ui:composition>