<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">manage filtre</ui:define>		
			<ui:define name="pageContent">
							<ui:include src="/pages/interface/filtra/form.xhtml" />
				            <ui:include src="/pages/interface/filtra/list.xhtml"/>

			</ui:define>
</ui:composition>