<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">access denied</ui:define>		
			<ui:define name="pageContent">
			<h2>access denied</h2>
		  <h1>
			  <b><i><font color="" style="font-size: xx-large;background-color: #800000;font-family: 'Arial Black';">you 've provided bad credentials!</font></i></b>
		  </h1>
			</ui:define>
</ui:composition>