<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">log in</ui:define>		
			<ui:define name="pageContent">
	<h3>Information Trainship</h3>
	
	<h:form >
	
	<div><h:outputText value="Recherche par Diplome" /><font color="White">.......</font> <select name="DiplomeF" onselect="" size="1">
	   <option value="#{buthBean.FiltreFrame()}">----------------------*choose One*---------------------</option>
	  <option value="#{buthBean.diplomes}"></option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  </select></div>
		<div><h:outputText value="Recherche par Formation" /><font color="White">....</font> <select name="FormationF" onselect="" size="1">
	   <option value="#{authBean.login}">----------------------*choose One*---------------------</option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  </select></div>
		<div><h:outputText value="Recherche par Certificat" /><font color="White">......</font><select  name="CertificatF" onselect="" size="1">
	   <option value="#{authBean.login}">----------------------*choose One*---------------------</option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  </select></div>
		<div><h:outputText value="Recherche par Experience" /><font color="White">...</font> <select name="ExperienceF" onselect="" size="1">
	   <option value="#{authBean.login}">----------------------*choose One*---------------------</option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  </select></div>
	    <div><h:outputText value="Recherche par Trainship" /><font color="White">......</font> <select name="TraineshipsF" onselect="" size="1">
	   <option value="#{authBean.login}">----------------------*choose One*---------------------</option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  <option value="#{authBean.login}"></option>
	  </select></div>
	
	
	
	
	
	
	<h:commandButton id="login_submit"  value="Rechercher" /></h:form>
	<div><h:graphicImage value="/resources/img/z.jpg" style="width : 610px; height : 203px;"/></div>
		
			</ui:define>
</ui:composition>


