<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">Frame Formation</ui:define>		
			<ui:define name="pageContent">
	
	<h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Information Formation</h2>
	
	<h:form >
	
	<div><h:outputText value="Formation" /><font color="White">................</font><h:inputText value="#{authBean.login}" style=" width : 209px;" /></div>
		<div><h:outputText value="Domaine Formation" /><font color="White">..</font><h:inputSecret value="#{authBean.password}" style=" width : 209px;" /></div>
		<div><h:outputText value="Duration(Mois)" /><font color="White">.........</font><h:inputSecret value="#{authBean.password}" style=" width : 209px;" /></div>
	
	
	
	<h:commandButton id="login_submit" action="FrameCv" value="Exit" style=" width : 100px;"/></h:form>
	<div><h:graphicImage value="/resources/img/z.jpg" style="width : 610px; height : 203px;"/></div>
		
			</ui:define>
</ui:composition>


