<!DOCTYPE ui:composition PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">Remplissage CV</ui:define>		
			<ui:define name="pageContent">
			
		<h:form>
		
		<h:panelGrid columns="2">
		
		<h:outputText value="FirstName" style="COLOR: #000000;"/>
		<h:inputText id="fn" value="#{condidatBean.candidat.firstname}"></h:inputText>
		<h:outputText value="LastName" /><h:inputText  value="#{condidatBean.candidat.lastName}"></h:inputText>
		<h:outputText value="CIN" /><h:inputText value="#{condidatBean.candidat.cin}" />
		<h:outputText value="Status civil" /><h:inputText value="#{condidatBean.candidat.statusCivile}" />
		<h:outputText value="Age" /><h:inputText value="#{condidatBean.candidat.datebirth}" />
		<h:outputText value="Place birth" /><h:inputText value="#{condidatBean.candidat.placeBirth}" />
		<h:outputText value="Nationality" />
		<h:inputText value="#{condidatBean.candidat.nationality}" />
		<h:outputText value="Adress" />
		<h:inputText value="#{condidatBean.candidat.address}" />
		<h:outputText value="Country" />
		<h:inputText value="#{condidatBean.candidat.country}" />
		<h:outputText value="Phone 1" />
		<h:inputText  id="pn" value="#{condidatBean.candidat.city}" validatorMessage="between 7 and 20 number"><f:validateLength minimum="7" maximum="20"/></h:inputText><h:message for="pn" styleClass="error"/>
		<hr />
		<h:outputText value="ville" /><h:inputText value="#{condidatBean.candidat.postalCode}" />
		<h:outputText value="Phone 2" /><h:inputText id="cn"  value="#{condidatBean.candidat.phone}" validatorMessage="between 7 and 20 number"><f:validateLength minimum="7" maximum="20"/></h:inputText><h:message for="cn" styleClass="error"/><hr />
		<h:outputText value="Email*" style="FONT-WEIGHT: bold; COLOR: #ff0000;"/>
		<h:inputText id="e" value="#{condidatBean.candidat.mail}" required="true" requiredMessage="email is required" validatorMessage="invalid email"><f:validateRegex pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" /></h:inputText><h:message for="e" styleClass="error" />
		</h:panelGrid>
		<h:panelGrid columns="2" style="FONT-WEIGHT: bold;">
		Information<FONT style="COLOR: #ffffff;">-------</FONT><h:commandButton action="interface/traineship/manage"  value="Trainship" style="color: #ffffff;border-style:solid;background-color: #800000; width : 227px;" />
	<FONT style="COLOR: #ffffff;">---</FONT><h:commandButton action="interface/formation/manage" value="Formation" style="color: #ffffff;border-style:solid;background-color: #800000; width : 227px;"/>
	<FONT style="COLOR: #ffffff;">---</FONT><h:commandButton action="interface/experience/manage" value="Experience" style="color: #ffffff;border-style:solid;background-color: #800000; width : 227px;"/>
	<FONT style="COLOR: #ffffff;">---</FONT><h:commandButton action="interface/certificat/manage" value="Certificat" style="color: #ffffff;border-style:solid;background-color: #800000; width : 227px;"/>
	<FONT style="COLOR: #ffffff;">---</FONT><h:commandButton action="interface/diplome/manage" value="Diplome" style="color: #ffffff;border-style:solid;background-color: #800000; width : 227px;"/>
	<div align="center" >	<h:commandButton   value="Valider"  action="#{condidatBean.doCreate}"  style=" width : 227px;" /></div>
		</h:panelGrid>
		<h:outputScript>
					$("#register\\:pn").mask("99-99-99-99");
					$("#register\\:cn").mask("99-99-99-99");
				</h:outputScript>
		
		</h:form>
			</ui:define>
</ui:composition>
