<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
	 <h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Information Formation</h2>
	
	<h:form rendered="#{condidatBean.formDisplayedFrs}">		
		<h:panelGrid columns="2">
	
	<h:outputText value="Formation" />
	<h:inputText value="#{condidatBean.formation.type_forma}" />
	<h:outputText value="Domaine Formation" />
	<h:inputText value="#{condidatBean.formation.year_forma}" />
    <h:outputText value="Duration(Mois)" />
    <h:inputText value="#{condidatBean.formation.duration_forma}" />
	<h:commandButton  value="cancel" immediate="true">
	<f:setPropertyActionListener target="#{condidatBean.formDisplayedFrs}" value="false"></f:setPropertyActionListener>
	</h:commandButton>
	<h:panelGrid columns="2">
	<h:commandButton action="#{condidatBean.addToFr}" value="add" />
		<h:commandButton action="#{condidatBean.removeToFr}" value="remove" />
	</h:panelGrid>
	<h:commandButton action="/pages/FrameCv" value="exit" />
	</h:panelGrid>
	<div><h:graphicImage value="/resources/img/z.jpg" style="height : 330px; width : 592px;"/></div>
	
		</h:form>
</ui:composition>