<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty condidatBean.formations}"
							 value="#{condidatBean.formations}"
							 var="for" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All formations" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Formation" />
						</f:facet>
						<h:outputText value="#{for.type_forma}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Domaine Formation" />
						</f:facet>
						<h:outputText value="#{for.year_forma}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Duration formation" />
						</f:facet>
						<h:outputText value="#{for.duration_forma}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{condidatBean.formation}" value="#{for}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedFrs}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton  value="new" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedFrs}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>