<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
	 <h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Information Experience</h2>
	
	<h:form rendered="#{condidatBean.formDisplayedExp}">		
		<h:panelGrid columns="2">
	
	<h:outputText value="Establisment" />
	<h:inputText value="#{condidatBean.experience.establishment_exp}" />
	<h:outputText value="Domaine" />
	<h:inputText value="#{condidatBean.experience.year_exp}" />
    <h:outputText value="Duration(En Mois)" />
    <h:inputText value="#{condidatBean.experience.year_exp}" />
	<h:outputText value="Poste" />
	<h:inputText value="#{condidatBean.experience.position_exp}" />
	<h:commandButton  value="cancel" immediate="true">
	<f:setPropertyActionListener target="#{condidatBean.formDisplayedExp}" value="false"></f:setPropertyActionListener>
	</h:commandButton>
	<h:panelGrid columns="2">
	<h:commandButton action="#{condidatBean.addToEx}" value="add" />
		<h:commandButton action="#{condidatBean.removeToEx}" value="remove" />
	</h:panelGrid>
	<h:commandButton action="/pages/FrameCv" value="exit" />
	</h:panelGrid>
	<div><h:graphicImage value="/resources/img/z.jpg" style="height : 330px; width : 590px;"/></div>
	
		</h:form>
</ui:composition>