<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty condidatBean.experiences}"
							 value="#{condidatBean.experiences}"
							 var="exp" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All experiences" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Establisment" />
						</f:facet>
						<h:outputText value="#{exp.establishment_exp}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Domaine" />
						</f:facet>
						<h:outputText value="#{exp.year_exp}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Duration(En Mois)" />
						</f:facet>
						<h:outputText value="#{exp.duration_exp}" />
					</h:column>
					
						<h:column >
						<f:facet name="header">
							<h:outputText value="Poste" />
						</f:facet>
						<h:outputText value="#{exp.position_exp}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{condidatBean.experience}" value="#{exp}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedExp}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton  value="new" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedExp}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>