<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle"></ui:define>		
			<ui:define name="pageContent">
			<h:form>
			<h:dataTable  rendered="#{not empty mailBean.rCandidates}"
							 value="#{mailBean.rCandidates}"
							 var="r" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All candidates accepted for interview" />
						</f:facet>			
			
			<h:column>
			<f:facet name="header">
							<h:outputText value="id" />
						</f:facet>
						<h:outputText value="#{r.id}" />
			
			</h:column>
			<h:column>
			<f:facet name="header">
							<h:outputText value="login" />
						</f:facet>
						<h:outputText value="#{r.login}" />
			
			</h:column>
			<h:column>
			<f:facet name="header">
							<h:outputText value="password" />
						</f:facet>
						<h:outputText value="#{r.password}" />
			
			</h:column>
			
			
			
			<h:column>
			<f:facet name="header">
							<h:outputText value="date" />
						</f:facet>
						<h:outputText value="#{r.date}" />
			</h:column>
					<h:column>
				<f:facet name="header">
							<h:outputText value="exam" />
						</f:facet>
						<h:outputText value="#{r.qcm.name}" />
						
			
			</h:column>
				
		</h:dataTable>
			
			<h:outputText value="candidat" />
			<h:inputText value="#{mailBean.recId}" />
			
			<h:commandButton action="#{mailBean.send}" value="send" />
			</h:form>
			</ui:define>
</ui:composition> 