<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle"></ui:define>		
			<ui:define name="pageContent">
			<h:form>
			<h:dataTable  rendered="#{not empty examOralBean.rCandidates}"
							 value="#{examOralBean.rCandidates}"
							 var="exm" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All candidates accepted for oral interview" />
						</f:facet>			
			
			<h:column>
			<f:facet name="header">
							<h:outputText value="id" />
						</f:facet>
						<h:outputText value="#{exm.examOral.id}" />
			
			</h:column>
			<h:column>
			<f:facet name="header">
							<h:outputText value="date" />
						</f:facet>
						<h:outputText value="#{exm.examOral.date}" />
			
			</h:column>
			
				
		</h:dataTable>
			
			<h:outputText value="candidat" />
			<h:inputText value="#{examOralBean.recId}" />
			
			<h:commandButton action="#{examOralBean.send}" value="send" />
			</h:form>
			</ui:define>
</ui:composition>