<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty condidatBean.diplomes}"
							 value="#{condidatBean.diplomes}"
							 var="dip" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All diplomes" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Diplome" />
						</f:facet>
						<h:outputText value="#{dip.type_dip}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Domaine" />
						</f:facet>
						<h:outputText value="#{dip.year_dip}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{condidatBean.diplome}" value="#{dip}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedDip}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton  value="new" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedDip}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>