<!DOCTYPE ui:composition PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">Remplissage CV</ui:define>		
			<ui:define name="pageContent">
			           	
					
			<h:form id="form">
			 <p:dataGrid var="car" value="#{consulterAnnonceBean.annonces}" columns="3"  
        rows="12" paginator="true"  
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
        rowsPerPageTemplate="9,12,15">  
  
        <p:panel header="#{car.id}" style="text-align:center">  
            <h:panelGrid columns="1" style="width:100%">  
                  
  
                Poste besoins :<h:outputText value="#{car.date}" style="FONT-WEIGHT: bold; COLOR: #800000;"/> Poste 
                <h:outputText value="#{car.contenu}" style="COLOR: #000040; FONT-SIZE: small;"/>  
  </h:panelGrid></p:panel></p:dataGrid></h:form>
           
			</ui:define>
</ui:composition>
