<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
	 <h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Information Trainship</h2>
	
	<h:form rendered="#{condidatBean.formDisplayedTrs}">		
		<h:panelGrid columns="2">
	
	<h:outputText value="Establisment" />
	<h:inputText value="#{condidatBean.trainship.establishment}" />
	<h:outputText value="Position" />
	<h:inputText value="#{condidatBean.trainship.position_t}" />
    <h:outputText value="Year" />
    <h:inputText value="#{condidatBean.trainship.year_t}" />
	<h:outputText value="Duration(Mois)" />
	<h:inputText value="#{condidatBean.trainship.duration_t}" />
	<h:commandButton  value="cancel" immediate="true">
	<f:setPropertyActionListener target="#{condidatBean.formDisplayedTrs}" value="false"></f:setPropertyActionListener>
	</h:commandButton>
	<h:panelGrid columns="2">
	<h:commandButton action="#{condidatBean.addToTr}" value="add" />
		<h:commandButton action="#{condidatBean.removeToTr}" value="remove" />
	</h:panelGrid>
	<h:commandButton action="/pages/FrameCv" value="exit" />
	</h:panelGrid>
	<div><h:graphicImage value="/resources/img/z.jpg" style="height : 330px; width : 594px;"/></div>
	
		</h:form>
</ui:composition>