<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty condidatBean.trainshiprs}"
							 value="#{condidatBean.trainshiprs}"
							 var="cat" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All traineships" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Establisment" />
						</f:facet>
						<h:outputText value="#{cat.establishment}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Position" />
						</f:facet>
						<h:outputText value="#{cat.position_t}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Year" />
						</f:facet>
						<h:outputText value="#{cat.year_t}" />
					</h:column>
					
						<h:column >
						<f:facet name="header">
							<h:outputText value="Duration(Mois)" />
						</f:facet>
						<h:outputText value="#{cat.duration_t}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{condidatBean.trainship}" value="#{cat}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedTrs}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton  value="new" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedTrs}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>