<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
	 
	
	<h:form rendered="#{condidatBean.formDisplayedOff}">		
		<h:panelGrid columns="2">
	
	<h:outputText value="References offre" />
	<h:inputText value="#{condidatBean.annonce.id}" />
	<h:outputText value="Nbre Candidats(besoins)" />
	<h:inputText  value="#{condidatBean.annonce.date}" />
    <h:outputText value="Contenu" />
    <h:inputTextarea  value="#{condidatBean.annonce.contenu}" style="height : 114px; width : 439px;"/>
	<h:commandButton  value="cancel" immediate="true">
	<f:setPropertyActionListener target="#{condidatBean.formDisplayedOff}" value="false"></f:setPropertyActionListener>
	</h:commandButton>
	<h:panelGrid columns="2">
	<h:commandButton action="#{condidatBean.addToOf}" value="add" style=" height : 22px;"/>
		<h:commandButton action="#{condidatBean.removeToOf}" value="remove" />
	
	</h:panelGrid>
	</h:panelGrid>
	<div><h:graphicImage value="/resources/img/z.jpg" style="width : 596px; height : 145px;"/></div>
	
		</h:form>
</ui:composition>