<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable 
							 value="#{condidatBean.annonces}"
							 var="ann" 
							 border="1" style="color:#000040;font-style: italic;background-color:Snow;font-weight: bold;">
					<f:facet name="header">
							<h:outputText value="All annonces" style="FONT-SIZE: x-large; FONT-WEIGHT: bold; COLOR: #400000;"/>
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Id" style="COLOR: #ff0000;"/>
						</f:facet>
						<h:outputText value="#{ann.id}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Nbre Candidats(besoins)" style="COLOR: #ff0000;"/>
						</f:facet>
						<h:outputText value="#{ann.date}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Offre" style="COLOR: #ff0000;"/>
						</f:facet>
						<h:outputText value="#{ann.contenu}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" style="COLOR: #ff0000;"/>
						</f:facet>
						
						<h:commandButton  value="select" >
							 <f:setPropertyActionListener target="#{condidatBean.annonce}" value="#{ann}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedOff}" value="true"/> 
							</h:commandButton>
					</h:column>
							
							
							
					
				</h:dataTable>
				<h:commandButton  value="newAJ" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedOff}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>