<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
	 <h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Information Certificat</h2>
	
	<h:form rendered="#{condidatBean.formDisplayedCer}">		
		<h:panelGrid columns="1">
	
	<h:outputText value="Certificat" />
	<h:inputText value="#{condidatBean.certificat.type_cert}" />
	<h:outputText value="Domaine" />
	<h:inputText value="#{condidatBean.certificat.year_dip}" />
	<h:commandButton  value="cancel" immediate="true">
	<f:setPropertyActionListener target="#{condidatBean.formDisplayedCer}" value="false"></f:setPropertyActionListener>
	</h:commandButton>
	<h:panelGrid columns="2">
	<h:commandButton action="#{condidatBean.addToCe}" value="add" />
		<h:commandButton action="#{condidatBean.removeToCe}" value="remove" />
	</h:panelGrid>
	<h:commandButton action="/pages/FrameCv" value="exit" />
	</h:panelGrid>
	<div><h:graphicImage value="/resources/img/z.jpg" style="height : 330px; width : 586px;"/></div>
	
		</h:form>
</ui:composition>