<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
					
			<h:form>
				<h:dataTable rendered="#{not empty condidatBean.certificats}"
							 value="#{condidatBean.certificats}"
							 var="cer" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All certificats" />
						</f:facet>		 
					<h:column >
						<f:facet name="header">
							<h:outputText value="Certificat" />
						</f:facet>
						<h:outputText value="#{cer.type_cert}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="Domaine" />
						</f:facet>
						<h:outputText value="#{cer.year_dip}" />
					</h:column>
					
					<h:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<h:commandButton  value="select" >
								<f:setPropertyActionListener target="#{condidatBean.certificat}" value="#{cer}"/>
								<f:setPropertyActionListener target="#{condidatBean.formDisplayedCer}" value="true"/>
							</h:commandButton>
					</h:column>
					
				</h:dataTable>
				<h:commandButton  value="new" >
				<f:setPropertyActionListener target="#{condidatBean.formDisplayedCer}" value="true"/>
				</h:commandButton>
			</h:form>
</ui:composition>