<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="pageTittle">ader</ui:define>		
			<ui:define name="pageContent">
			<h:form >
				<h:panelGrid  columns="3" style=" width : 440px;">
				<h:outputText value="id" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>    <br> </br>
               <p:inputText id="id" value="#{examBean.qcm.idqcm}" required="true" label="id">  
                 
            </p:inputText> 
  <h:outputText value="date exam" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/> <br> </br>
  <p:inputMask value="#{examBean.qcm.dateqcm}" mask="99/99/9999"/>        
                   
          <h:outputText value="name" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>     <br> </br>
                    <p:inputText id="prenom" value="#{examBean.qcm.name}" required="true" label="prenom">  
                <f:validateLength minimum="2" />  
            </p:inputText>
            <h:outputText value="type" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>  <br> </br>
                   <p:selectOneMenu value="#{examBean.qcm.type}">  
            <f:selectItem itemLabel="Select One" itemValue="" />  
            <f:selectItem itemLabel="JEE" itemValue="1" />  
            <f:selectItem itemLabel="JAVA" itemValue="2" />  
            <f:selectItem itemLabel="C++" itemValue="3" />  
        </p:selectOneMenu>   
    <p:commandButton action="/pages/admin/add/qcm" value="Ajouter"/> 
				</h:panelGrid>
				</h:form>
			</ui:define>
</ui:composition>