<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                    template="/template/template.xhtml"
                 xmlns:p="http://primefaces.org/ui">
                
                 <ui:define name="pageTittle">ad</ui:define>		
			<ui:define name="pageContent">
			<h:form>
			<h3>Disc</h3>  
			
			
<p:dataList value="#{examBean.questions3}" var="quest" itemType="disc">  
<h:outputText value="#{quest.question}" />
   <p:dataList value="#{quest.answers}" var="ans" itemType="disc">  
   <h:outputText value="#{ans.answer}" />
   <h:selectBooleanCheckbox  />
</p:dataList>  
</p:dataList>  
			</h:form>
			</ui:define>
</ui:composition>