<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="pageTittle">addUser</ui:define>		
			<ui:define name="pageContent">
			<h:form>
			<p:fileUpload fileUploadListener="#{fileUploadController.handleFileUpload}"  
            mode="advanced"  
            update="messages"   
            multiple="true"  
            sizeLimit="100000"   
            allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>  
  
    <p:growl id="messages" showDetail="true"/>  
				<h:panelGrid  columns="3" style=" width : 440px;">
		   <h:outputText value="id" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>    <br> </br>
               <p:inputText id="id" value="#{authBean.user.id}" required="true" label="id">  
                 
            </p:inputText> 
            
                     <h:outputText value="datenaissance" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/> <br> </br>
  <p:inputMask value="#{authBean.user.datenaissance}" mask="99/99/9999"/>        
              
                <h:outputText value="email" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>    <br> </br>
            <p:inputText id="email" value="#{authBean.user.email}" required="true" label="email">  
                <f:validateLength minimum="2" />  
            </p:inputText>
                <h:outputText value="prenom" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>     <br> </br>
                    <p:inputText id="prenom" value="#{authBean.user.prenom}" required="true" label="prenom">  
                <f:validateLength minimum="2" />  
            </p:inputText>
                <h:outputText value="nom" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>    <br> </br>
                    <p:inputText id="nom" value="#{authBean.user.nom}" required="true" label="nom">  
                <f:validateLength minimum="2" />  
            </p:inputText>
                <h:outputText value="login" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>  <br>  </br>
                <p:inputText id="login" value="#{authBean.user.login}" required="true" label="login">  
                <f:validateLength minimum="2" />  
            </p:inputText>
                <h:outputText value="niveauServie" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>  <br> </br>
                   <p:selectOneMenu value="#{authBean.user.niveauService}">  
            <f:selectItem itemLabel="Select One" itemValue="" />  
            <f:selectItem itemLabel="JEE" itemValue="1" />  
            <f:selectItem itemLabel="JAVA" itemValue="2" />  
            <f:selectItem itemLabel="C++" itemValue="3" />  
        </p:selectOneMenu>   
                <h:outputText value="genre" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/> <br> </br>
                       <p:inputText id="genre" value="#{authBean.user.genre}" required="true" label="genre">  
                <f:validateLength minimum="2" />  
            </p:inputText>
                <h:outputText value="password" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>  <br> </br>
                  <p:password id="feedback" value="#{authBean.user.password}" feedback="true"/>  
                   <h:outputText value="Sex" style="FONT-STYLE: italic; FONT-WEIGHT: bold;"/>  <br> </br>
                   <p:selectOneMenu value="#{authBean.user.sex}">  
            <f:selectItem itemLabel="Select One" itemValue="" />  
            <f:selectItem itemLabel="Male" itemValue="1" />  
            <f:selectItem itemLabel="Female" itemValue="2" />  
              
        </p:selectOneMenu> 
        
            <h:commandButton action="#{authBean.dosaveOrUpdate}" value="Ajouter"/> 
            
			
		</h:panelGrid>
			
			
			</h:form>
			
			</ui:define>
</ui:composition>