<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                  template="/template/template.xhtml"
                 xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="pageTittle">aza</ui:define>		
			<ui:define name="pageContent">
			<h:form id="form">  
  
    <p:dataTable id="cars" var="car" value="#{examBean.qcms}" paginator="true" rows="10"  
                 rowKey="#{car.idqcm}">  

        <f:facet name="header">  
            RadioButton Based Selection  
        </f:facet>  
  
      
  
        <p:column headerText="id" style="width:25%">  
          <h:outputText value="  #{car.name} "/> 
        </p:column>  
  
 <p:column width="30%">
   <h:commandButton action="/pages/admin/add/exam">
  
  <f:setPropertyActionListener target="#{examBean.qcm}" value="#{car}"/>
  
  </h:commandButton>
 </p:column>
  
     
  
        <f:facet name="footer">  
           
             <p:commandButton id="multiViewButton" value="Go to Exam" icon="ui-icon-search"  
                          action="#{examBean.doSaveOrUpdate()}"    />    
        </f:facet>  
    </p:dataTable>  
  
    <br />  

  
  
 </h:form>
			</ui:define>
</ui:composition>