<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/template/template.xhtml"
                 xmlns:p="http://primefaces.org/ui">
                 
                 <ui:define name="pageTittle">addUser</ui:define>		
			<ui:define name="pageContent">
<h:form id="form">  
  
    <p:dataTable id="cars" var="car" value="#{examBean.questions}" paginator="true" rows="10"  
                 selection="#{examBean.questions2}" rowKey="#{car.id_ques}">  
  
        <f:facet name="header">  
          Liste des Question  
        </f:facet>  
  
        <p:column selectionMode="multiple" style="width:2%" />  
  
        <p:column headerText="id" style="width:25%">  
          <h:outputText value="  #{car.id_ques} "/> 
        </p:column>  
  
        <p:column headerText="number of question" style="width:25%">  
         <h:outputText value="   #{car.number_of_question}"/>  
        </p:column>  
  
        <p:column headerText="question" style="width:24%">  
           <h:outputText  value=" #{car.question} "/> 
        </p:column>  
  
     
  
        <f:facet name="footer">  
           
             <p:commandButton id="multiViewButton" value="Add Question to Exam" icon="ui-icon-search"  
                          action="#{examBean.doSaveOrUpdate()}"    />    
        </f:facet>  
    </p:dataTable>  
  
    <br />  

  
  
 </h:form>
 </ui:define>
</ui:composition>