<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                	
					
			
				<h:form rendered="#{adminBean.formDisplayed}">
					<h:panelGrid columns="2">
						<h:outputText value="login" />
						<p:inputText value="#{adminBean.adminRecrutement.login}" />
						<h:outputText value="password" />
						 <p:password id="inlineFeedback" value="#{adminBean.adminRecrutement.password}" feedback="true" inline="true" /> 
						<p:commandButton action="#{adminBean.doCancel}" ajax="false" value="cancel" />
						<h:panelGrid columns="2">
						<p:commandButton action="#{adminBean.doDelete}" ajax="false" value="delete" />
							<p:commandButton action="#{adminBean.doSaveOrUpdate}" ajax="false" value="save" />
						
						
					</h:panelGrid>	
					</h:panelGrid>
				</h:form>
			
</ui:composition>