<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                	
					
			<h:form>
				<p:dataTable rendered="#{not empty adminBean.admins}"
							 value="#{adminBean.admins}"
							 var="cat" 
							 border="1">
					<f:facet name="header">
							<h:outputText value="All admins recruitments" />
						</f:facet>		 
					<p:column >
						<f:facet name="header">
							<h:outputText value="login" />
						</f:facet>
						<h:outputText value="#{cat.login}" />
					</p:column>
					
					<p:column >
						<f:facet name="header">
							<h:outputText value="password" />
						</f:facet>
						<h:outputText value="#{cat.password}" />
					</p:column>	
					
					<p:column >
						<f:facet name="header">
							<h:outputText value="action" />
						</f:facet>
							<p:commandButton  value="select" ajax="false" >
								<f:setPropertyActionListener target="#{adminBean.adminRecrutement}" value="#{cat}"/>
								<f:setPropertyActionListener target="#{adminBean.formDisplayed}" value="true"/>
							</p:commandButton>
					</p:column>
					
				</p:dataTable>
				<p:commandButton action="#{adminBean.doNew}" ajax="false"  value="new" />
				<p:commandButton action="/pages/admin/mail/mailform" ajax="false" value="mail" />
			</h:form>
</ui:composition>