<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>generate pdf</title>
	</h:head>
	<h:body>
	<h:form>
	<h:commandButton action="#{pdfBean.main()}" value="save" />
	</h:form>
		
	</h:body>
</html>