<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle">welcome page</ui:define>		
			<ui:define name="pageContent">
		
	<h2 style="FONT-FAMILY: 'Baskerville Old Face'; COLOR: #400040; TEXT-DECORATION: underline; FONT-STYLE: italic;">Welcome</h2>
	<div><h:graphicImage value="/resources/img/c.gif" style="width : 592px; height : 249px;"/></div>
	<h:commandButton  action="/template/index" value="WELCOME" style="color: #800000;font-style: italic;background-color:White;font-weight: bold;background-image:none; width : 146px;"/>
			</ui:define>
</ui:composition>